<div class="clearfix" ng-controller="NoCodeDeliveryApi.ClientsController as vm">
  <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

  <umb-editor-view footer="false" ng-if="!vm.loading">

    <umb-editor-container style="top:0;">

      <umb-editor-sub-header>

        <umb-editor-sub-header-content-left>
          <h4>Clients</h4>
        </umb-editor-sub-header-content-left>

        <umb-editor-sub-header-content-right>
          <umb-button action="vm.add()"
                      button-style="outline"
                      icon="icon-add"
                      label="Add client"
                      type="button">
          </umb-button>
        </umb-editor-sub-header-content-right>

      </umb-editor-sub-header>

      <table class="table table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>Origin</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="cursor-pointer" ng-click="vm.edit(client)" ng-repeat="client in vm.clients track by client.key">
          <td>
            <umb-icon class="language-icon" icon="icon-sitemap"></umb-icon>
            <span>{{ client.name }}</span>
          </td>
          <td>
            {{ client.origin }}
          </td>
          <td style="text-align: right;">
            <umb-button action="vm.delete(client, $event)"
                        button-style="danger"
                        label="Delete"
                        size="xxs"
                        type="button">
            </umb-button>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="mt4 muted">
        <p>CORS policies will be applied automatically for all clients defined here.</p>
        <p>This allows for consuming the Delivery API when executing in a CORS restricted environment (e.g. a web
          browser).</p>
      </div>

    </umb-editor-container>

  </umb-editor-view>
</div>
