<div ng-controller="NoCodeDeliveryApi.ClientController as vm">

  <form name="clientForm" novalidate val-form-manager>

    <umb-editor-view>

      <umb-editor-header
        hide-alias="true"
        hide-description="true"
        hide-icon="true"
        name="model.title"
        name-locked="true">
      </umb-editor-header>

      <umb-editor-container>

        <umb-box>

          <umb-box-content>

            <umb-control-group description="The client pretty-name. This is only used for identification purposes."
                               label="Name">
              <input maxlength="40" name="clientName" ng-model="vm.client.name" required type="text" umb-auto-focus/>
            </umb-control-group>

            <umb-control-group description="The origin of the client. This will be used to apply CORS policies. Must be a well-formed URL including the HTTP scheme, e.g. https://mydomain.com or http://localhost:3000."
                               label="Origin">
              <input maxlength="200" name="clientOrigin" ng-model="vm.client.origin" required type="url"/>
            </umb-control-group>

          </umb-box-content>
        </umb-box>

      </umb-editor-container>

      <umb-editor-footer>
        <umb-editor-footer-content-right>
          <umb-button
            action="vm.close()"
            button-style="link"
            label-key="general_close"
            shortcut="esc"
            type="button">
          </umb-button>
          <umb-button
            action="vm.save()"
            button-style="success"
            label-key="general_submit"
            state="vm.saveButtonState"
            type="button">
          </umb-button>
        </umb-editor-footer-content-right>
      </umb-editor-footer>
    </umb-editor-view>

  </form>

</div>
