<div ng-controller="NoCodeDeliveryApi.FilterController as vm">

  <form name="filterForm" novalidate val-form-manager>

    <umb-editor-view>

      <umb-editor-header
        hide-alias="true"
        hide-description="true"
        hide-icon="true"
        name="model.title"
        name-locked="true">
      </umb-editor-header>

      <umb-editor-container>

        <umb-box>

          <umb-box-content>

            <umb-control-group description="The filter name must be unique. It is used to auto-generate the filter alias, which will be used for querying the Delivery API."
                               label="Name">
              <input maxlength="40" name="filterName" ng-change="vm.validateFilterName()" ng-model="vm.filter.name" required type="text"
                     umb-auto-focus/>
            </umb-control-group>

            <umb-control-group description="The aliases of the content properties whose values should be used for filtering. The filter will be evaluated against any of these properties."
                               label="Property aliases">
              <div class="flex flex-auto">
                <div>
                  <input ng-model="vm.newPropertyAlias" ng-pattern="vm.propertyAliasPattern" ng-required="!vm.propertyAliases.length"
                         type="text"/>
                </div>
                <div style="margin-left: 12px;">
                  <button class="btn btn-info" ng-click="vm.addPropertyAlias($event)" ng-disabled="!vm.newPropertyAlias"
                          type="button">Add
                  </button>
                </div>
              </div>
              <div class="flex flex-inline items-center mb1" ng-repeat="item in vm.propertyAliases"
                   style="padding: 6px; background-color: #f3f3f5">
                <umb-icon class="icon muted" icon="icon-autofill" style="padding-right: 6px;"></umb-icon>
                <div>
                  <input ng-model="item.propertyAlias" ng-pattern="vm.propertyAliasPattern" required style="margin: 0;"
                         type="text"/>
                </div>
                <div>
                  <button class="umb-node-preview__action umb-node-preview__action--red" ng-click="vm.removePropertyAlias(item, $event)"
                          type="button">Remove
                  </button>
                </div>
              </div>
            </umb-control-group>

            <umb-control-group description="The field type determines how the the filter evaluates against the content properties. String fields allow for exact and partial matching, while Number and Date fields can be used for exact and range matching."
                               label="Field type">
              <select class="umb-dropdown" ng-disabled="vm.filter.key" ng-model="vm.filter.primitiveFieldType" required>
                <option value="String">String</option>
                <option value="Number">Number</option>
                <option value="Date">Date</option>
              </select>
            </umb-control-group>

            <umb-control-group description="Use exact matching for filtering against known identifiers (e.g. content pickers or product SKUs). Use partial matching for textual (wildcard) searches."
                               label="Match type"
                               ng-if="vm.filter.primitiveFieldType === 'String'">
              <select class="umb-dropdown" ng-disabled="vm.filter.key" ng-model="vm.filter.filterMatchType" required>
                <option selected value="Exact">Exact match</option>
                <option value="Partial">Partial match</option>
              </select>
            </umb-control-group>

          </umb-box-content>
        </umb-box>

      </umb-editor-container>

      <umb-editor-footer>
        <umb-editor-footer-content-right>
          <umb-button
            action="vm.close()"
            button-style="link"
            label-key="general_close"
            shortcut="esc"
            type="button">
          </umb-button>
          <umb-button
            action="vm.save()"
            button-style="success"
            label-key="general_submit"
            state="vm.saveButtonState"
            type="button">
          </umb-button>
        </umb-editor-footer-content-right>
      </umb-editor-footer>
    </umb-editor-view>

  </form>

</div>
